$dark-color: #04010F
$neutral-color: #92909B
$light-neutral-color: #C8C5D1
$light-color: #FBF7FF

$primary-color: #F9F871
$primary-hover: #BDBC35
$primary-active: #FFFF8F

$active-color: #00C5D6
$success-color: #00C898
$warning-color: #F10160

$dark-background: #1D1A27

$opacity-s: 0.1
$opacity-m: 0.3
$opacity-l: 0.6

$transition-duration: 0.2s

$light-opacity-s: rgba($light-color, $opacity-s)
$light-opacity-m: rgba($light-color, $opacity-m)
$light-opacity-l: rgba($light-color, $opacity-l)

$env-verlical-space: calc(env(safe-area-inset-top, 0) + env(safe-area-inset-bottom, 0))
$env-horizontal-space: calc(env(safe-area-inset-right, 0) + env(safe-area-inset-left, 0))
